.contact-us{
    margin-top: 70px;
    width: 100%;
}
.contact-us h2{
    color: #999;
    text-align: center;
}
.contact-us hr{
    border-color: #32CD32;
    width: 10%;
    margin: auto;
    margin-bottom: 30px;
}
.contact-us .details{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.contact-us .details > div{
    width: 30%;
    text-align: center;
}
mat-icon{
    color: #AAA;
}
.contact-us .details > div h5, .contact-us .details > div p, .contact-us .details > div a{
    color: #CCC;
}
.contact-us .details > div small{
    color: #888;
    display: block;
    margin-top: 1em;
}
.contact-us .details > div a{
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #EEE;
    border-radius: 5px;
}
.contact-us .details > div a:hover{
    text-decoration: none;
}
.contact-us .details > div p{
    padding: 10px 25px;
    border: 1px solid #888;
    border-radius: 5px;
    font-size: 0.9em;
}