<div class="contact-us">
    <h2>Contact Us</h2>
    <hr>
    <div class="details">
      <div class="call">
        <mat-icon>call</mat-icon>
        <h5>Call us on +94 711 123 456</h5>
        <a href="Tel:+94711231234">Call Us Now</a>
        <small>You also can fucking whatsapp/imo/telegram us</small>
      </div>
      <div class="email">
        <mat-icon>email</mat-icon>
        <h5>Email us on info@ftc.com</h5>
        <a href="mailto:info@ftc.com">Email Us Now</a>
      </div>
      <div class="address">
        <mat-icon>location_on</mat-icon>
        <h5>Our Address</h5>
        <p>No. 123, Main st, fucked up, colombo 06</p>
      </div>
    </div>
</div>