<div class="projects">
  <h2>Our Projects</h2>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="main-cont">
        <div class="the-card">
          <div class="thefront">
            <div class="overlay">
                Project 1
            </div>
          </div>
          <div class="theback">
            <div>
                This is the fucking description of the fucking project number 1. This text is fucking long
                just to check how a long test(the project description) should look like inside this card.
                So let's check that fucking out.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main-cont">
        <div class="the-card">
          <div class="thefront">
            <div class="overlay">
                Project 2
            </div>
          </div>
          <div class="theback">
            <div>
                This is the fucking description of the fucking project number 2. This text is fucking long
                just to check how a long test(the project description) should look like inside this card.
                So let's check that fucking out.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main-cont">
        <div class="the-card">
          <div class="thefront">
            <div class="overlay">
                Project 3
            </div>
          </div>
          <div class="theback">
            <div>
                This is the fucking description of the fucking project number 3. This text is fucking long
                just to check how a long test(the project description) should look like inside this card.
                So let's check that fucking out.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="main-cont">
        <div class="the-card">
          <div class="thefront">
            <div class="overlay">
                Project 4
            </div>
          </div>
          <div class="theback">
            <div>
                This is the fucking description of the fucking project number 4. This text is fucking long
                just to check how a long test(the project description) should look like inside this card.
                So let's check that fucking out.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main-cont">
        <div class="the-card">
          <div class="thefront">
            <div class="overlay">
                Project 5
            </div>
          </div>
          <div class="theback">
            <div>
                This is the fucking description of the fucking project number 5. This text is fucking long
                just to check how a long test(the project description) should look like inside this card.
                So let's check that fucking out.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="main-cont">
        <div class="the-card">
          <div class="thefront">
            <div class="overlay">
                Project 6
            </div>
          </div>
          <div class="theback">
            <div>
                This is the fucking description of the fucking project number 6. This text is fucking long
                just to check how a long test(the project description) should look like inside this card.
                So let's check that fucking out.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>