<div class="services">
    <h2>Our Services</h2>
    <hr>
    <mat-accordion multi="true">
        <div class="row">
            <div class="col-md-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        This is the details of the services given by FTC Architectures. Just Suck it and read the fucking 
                        description without being a pussy
                    </p>
                </mat-expansion-panel>
            </div>
            <div class="col-md-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        This is the details of the services given by FTC Architectures. Just Suck it and read the fucking 
                        description without being a pussy
                    </p>
                </mat-expansion-panel>
            </div>
            <div class="col-md-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        This is the details of the services given by FTC Architectures. Just Suck it and read the fucking 
                        description without being a pussy
                    </p>
                </mat-expansion-panel>
            </div>
            <div class="col-md-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        This is the details of the services given by FTC Architectures. Just Suck it and read the fucking 
                        description without being a pussy
                    </p>
                </mat-expansion-panel>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        This is the details of the services given by FTC Architectures. Just Suck it and read the fucking 
                        description without being a pussy
                    </p>
                </mat-expansion-panel>
            </div>
            <div class="col-md-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        This is the details of the services given by FTC Architectures. Just Suck it and read the fucking 
                        description without being a pussy
                    </p>
                </mat-expansion-panel>
            </div>
            <div class="col-md-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        This is the details of the services given by FTC Architectures. Just Suck it and read the fucking 
                        description without being a pussy
                    </p>
                </mat-expansion-panel>
            </div>
            <div class="col-md-3">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>
                        This is the details of the services given by FTC Architectures. Just Suck it and read the fucking 
                        description without being a pussy
                    </p>
                </mat-expansion-panel>
            </div>
        </div>
    </mat-accordion>
</div>
